@import url('./general-styles.css');

/* general stylings */
:root {
    --30-pixels: 30px;
}

body.modal-open {
    position: relative;
    overflow: hidden;
}

body.modal-open::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgb(0, 0, 0, 0.45);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
}

h1,
h2 {
    margin: 13px auto 15px auto;
    font-family: "Merriweather", serif;
}

ul {
    padding-inline-start: 0;
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

input:focus {
    outline: none;
}

header {
    width: 100%;
    justify-content: space-between;
}

/* class stylings */
.title {
    font-size: 1.75rem;
}

.pan-to-right {
    margin-left: 100%;
    transform: translateX(-100%);
}

.dialog-submit-btn {
    transition: transform 300ms;
}

.dialog-submit-btn:active {
    transform: scale(0.8);
}

.page-nav {
    height: 60px;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    -webkit-box-shadow: -0.5px 4px 5px -5px #7a7a7a;
    -moz-box-shadow: -0.5px 4px 5px -5px #7a7a7a;
    box-shadow: -0.5px 4px 5px -5px #7a7a7a;
}

header div.buttons {
    width: 40%;
    height: inherit;
    justify-content: space-evenly;
}

button.header-button {
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
}

button.header-button * {
    font-size: 20px;
}

button.header-button::after:not(:last-child) {
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgb(0, 0, 0, 0.3);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transform: translateY(120%);
    opacity: 0;
    z-index: 2;
}

button.header-button:hover::after {
    opacity: 1;
}

button.header-button:hover {
    background-color: #dee2e6;
}

/* Notifications */

div#notifications {
    padding: 10px 15px 20px 20px;
    padding-left: 20px;
    border-radius: 15px;
    min-width: 350px;
    position: relative;
    display: none;
    background-color: white;
}

/* div#notifications :nth-child(2){
    font-size: 16px;
} */

div#notifications.active {
    display: inline-block;
    position: absolute;
    z-index: 4;
    right: 15%;
    transform: translateY(-10px);
}

ul#notifs {
    max-height: 50vh;
    overflow: auto;
}

ul#notifs li {
    height: 55px;
}

ul#notifs li:not(:last-child) {
    border-bottom: 0.5px solid gainsboro;
}

div#notifications button#close-notif-box {
    font-size: 1.75rem;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1.5px solid gainsboro;
    background-color: transparent;
    opacity: 0.5;
}

div#notifications button#close-notif-box:hover,
div#notifications button#close-notif-box:focus {
    opacity: 1;
}

section.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}

section.actions button {
    border-radius: 5px;
    background-color: #3b40d5;
    display: flex;
    align-items: center;
    padding: 5px 7px;
    color: #fff;
}

section.actions button span {
    margin-left: 2.5px;
}

/* Heros section */
div.hero {
    display: grid;
    grid-template-columns: 15% 85%;
    margin-top: 10px;
}

/* Tabs Pane */
div.tabs-pane {
    height: 90vh;
    border-right: 1.5px solid gainsboro;
}

.tab {
    width: 90%;
    padding: 15px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 0 var(--30-pixels) var(--30-pixels) 0;
    background-color: transparent;
}

.tab>* {
    z-index: 0;
}

.tab span {
    margin-left: 10px;
}

.tab.tab-active {
    background-color: #f0f0f0;
    color: var(--medic-blue-1);
}

/* Page tabs will open */
.page {
    display: none;
    padding: 0 5%;
    position: relative;
    margin-bottom: 50px;
}

.page-active {
    display: block;
}

/* Home Page */
.component {
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 4px -1.5px #333;
    -moz-box-shadow: 0 0 4px -1.5px #333;
    box-shadow: 0 0 4px -1.5px #333;
}

.component h2 {
    margin: 0 0 25px 0;
    font-weight: 400;
}

.component p {
    font-weight: bold;
    font-size: 140%;
    margin: 8px 0;
}

section#writing-statistics .writing-stat-container {
    display: flex;
    justify-content: space-between;
}

section#writing-statistics .writing-stat-container .stat {
    min-width: 30%;
}

section#writing-statistics .writing-stat-container .stat:not(:first-child) {
    padding-left: 20px;
    border-left: 1.5px solid gainsboro;
}

section#writing-statistics .writing-stat-container h4 {
    font-weight: 500;
    margin-top: 0;
}

section#todo-statistics {
    width: fit-content;
}

/* Posts Section */
.card-container {
    min-height: 100px;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    flex: 1 1 13em;
    max-width: 18em;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 2px 4px #999;
}

.text {
    font-size: clamp(1rem, 0.15vw + 0.75rem, 1.1rem);
}

.card>img {
    object-fit: cover;
    inline-size: 100%;
    height: 10em;
    display: block;
}

.card .container {
    padding: 10px;
}

.text-container {
    font-size: 80%;
}

.card .post-blog-title {
    display: block;
    margin: 0 0 5px;
    color: #444;
    font-size: 1.275em;
    font-weight: 600;
}

.post-blog-title:hover,
.post-blog-title:focus {
    text-decoration: underline;
}


.card p {
    margin: 0 0 10px;
    color: #666;
}

.card .tag {
    display: inline-block;
    font-size: 70% !important;
}

/* Writing Post Section */
div#write-post .title-field,
div#write-post textarea::placeholder,
div#write-post textarea::-webkit-input-placeholder {
    font-size: 0.95em;
}
/* 
div#write-post input[type="text"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
} */

div#write-post .field{
    margin-bottom: 10px;
}

div#write-post textarea{
    width: 100%;
    font-size: 1.15em;
    word-wrap: break-word;
    outline: none;
    resize: none;
    transition: all 300ms ;
}

div#write-post textarea:focus,
div#write-post textarea:active{
    border-color: var(--medic-grey);
}

#title-textarea, #description-textarea{
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.image-field input[type="file"] {
    display: none;
}

.image-field label {
    cursor: pointer;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    padding: 4px 8px;
    color: var(--medic-grey);
    transition: all 300ms;
    display: inline-block;
}

.image-field label:hover {
    border-color: var(--medic-grey);
    color: var(--medic-grey);
}

.image-field span>svg {
    margin-left: 5px;
}

.tags-field {
    gap: 8px;
    flex-wrap: wrap;
}

.tags-field button,
.tag {
    padding: 4px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: var(--medic-grey);
    color: #fff;
    border: 1.5px solid var(--medic-grey);
    transition: all 300ms;
    font-size: clamp(0.65em, 0.8vw + 0.25em, 0.75em);
}

.tag .exit {
    margin-left: 5px;
    width: 10px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border-radius: 50%;
    transition: all 300ms;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.tag .exit:hover {
    background-color: #dddc;
}

.tags-field button span {
    font-size: 180%;
    margin-right: 5px;
}

.tags-field button:hover,
.tags-field button:focus {
    background-color: transparent;
    color: var(--medic-grey);
}

div#write-post #post-textarea {
    margin-top: 15px;
    max-width: 100%;
    min-height: 100px;
    padding: 10px 8px;
}

section.post-action-buttons {
    margin-top: 10px;
    float: right;
}

section.post-action-buttons button:last-child {
    display: inline-flex;
    align-items: center;
    font-size: clamp(0.75rem, 1vw + 0.25rem, 0.85rem);
    padding: 10px 20px;
    border-radius: var(--30-pixels);
}

section.post-action-buttons button:first-child {
    margin-right: 10px;
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: text-underline-offset 300ms ease, color 300ms;
}

section.post-action-buttons button:first-child:hover,
section.post-action-buttons button:first-child:active {
    text-underline-offset: 5px;
    color: var(--medic-blue-1);
}

#tag-dialog {
    min-width: 322px;
    padding: 30px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 3;
    border-radius: 10px;
    font-size: calc(0.75rem + 0.4vw);
}

#tag-dialog.active {
    display: block;
}

#tag-dialog h2 {
    margin-top: 0;
    position: relative;
}

#tag-dialog h2 button {
    position: absolute;
    right: 0;
}

#tag-dialog label {
    font-size: 120%;
}

#tag-dialog input[type="text"] {
    width: 100% !important;
    margin-top: 10px;
}

#tag-dialog form button {
    padding: 8px 10px;
    margin-top: 20px;
    font-size: 90%;
    float: right;
    border-radius: 20px;
    border: 1.5px;
    text-transform: uppercase;
}

/* TO-DO Section */
section.todo-buttons {
    background-color: transparent;
    margin-bottom: 16px;
}

section.todo-buttons button {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1.5px solid;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    color: #000;
}

section.todo-buttons button:first-child:focus,
section.todo-buttons button:first-child:active {
    box-shadow: 0px 0px 2px #3b40d5;
}

section.todo-buttons button:first-child {
    background-color: var(--medic-blue-1);
    color: #fff;
}

section.todo-buttons button *:first-child {
    margin-right: 5px;
}

/* adding new task */
section#tasks-container {
    min-height: 100px;
    max-height: 73.5%;
    overflow: auto;
}

section#tasks-container:empty::before,
section.card-container:empty::before {
    content: "Nothing to show here ...";
    position: relative;
    top: 50px;
    left: 25%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 2.05em;
    color: rgb(0, 0, 0, 0.65);
}

.task {
    border: 1.5px solid gainsboro;
    border-radius: 8px;
    padding: 10px;
}

section.task:not(:last-child) {
    margin-bottom: 10px;
}

/* open dialog box */

dialog {
    display: none;
}

#task-dialog {
    min-width: 60%;
    max-width: 90%;
    max-height: 82%;
    background-color: #f8f9fa;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 10px;
    z-index: 3;
    border: none;
    display: none;
}

#filter-dialog {
    position: relative;
    margin: 0;
    padding: 0 15px;
    border: none;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 300ms ease;
}

#filter-dialog div.wrapper {
    max-width: 50%;
    min-height: 0;
}

#filter-dialog.active {
    grid-template-rows: 1fr;
}

#filter-dialog.active div {
    margin-bottom: 10px;
}

#filter-dialog input {
    border-radius: 5px;
    width: 100%;
}

button#apply-filter {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--text);
    text-transform: uppercase;
    width: 100%;
    transition: background-color 500ms, color 500ms;
    opacity: 1;
}

button#apply-filter:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button#apply-filter:not(:disabled):hover {
    background-color: var(--medic-blue-1);
    color: var(--text);
}

#task-dialog.active {
    display: block;
}

button.exit {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

button.submit-ToDo {
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #000;
    color: var(--text);
    float: right;
    margin: 30px 30px;
}

div#task-dialog section.main {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin: 0;
    font-size: 1.1rem;
}

section.main input {
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 1.2rem;
    line-height: 18px;
    border: 1.5px solid #333;
    font-family: "Poppins", sans-serif;
}

section.main input.invalid {
    border-color: #f00;
}

.task-completed {
    text-decoration: line-through;
    opacity: 0.7;
}

section.main label {
    display: block;
    margin: 25px 0 8px 0;
    font-family: "Merriweather", serif;
}

body>footer {
    width: 100%;
    height: 60px;
    background-color: var(--text);
    position: relative;
    bottom: 0;
    z-index: 1;
    padding: 0 20px;
    justify-content: space-evenly;
    font-size: 0.85rem;
}

footer>a:not(.logo):hover {
    text-decoration: underline;
}
