@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Merriweather&family=Poppins:wght@400;500&display=swap');


@font-face {
    font-family: "Pluto";
    src: url('./fonts/HvDTrial_Pluto-CondRegular-BF6486959e6db70.otf');
}

:root {
    --text: #e6eff6;
    --medic-green: #178878;
    --medic-primary-blue: #181d60;
    --medic-blue-1: #0069ae;
    --medic-blue-2: #119ffd;
    --medic-grey: #6b6b6b;
    --grey-light: #7b7b7b;
}

html, body{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
}
