@import url("./general-styles.css");

html{
    font-size: 14px;
    background-image: url('../img/bg\ -\ light\ theme.svg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}

h2 {
    margin: 0 0 20px 0;
    font-size: 2.25rem;
    line-height: 46px;
    text-align: center;
    font-family: "Merriweather", serif;
}

.btn {
    cursor: pointer;
    border-radius: 3px;
    background-color: transparent;
    letter-spacing: 0.95px;
    font-size: 1rem;
    font-weight: 500;
}

.btn-outline {
    border: 1px solid var(--medic-blue-1);
    color: var(--medic-blue-1);
    position: relative;
    transition: color 400ms ease;
    z-index: 2;
}

.btn-outline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--medic-blue-1);
    transition: width 400ms ease;
    z-index: -1;
}

.btn-outline:hover::before {
    width: 100%
}

.btn-outline:hover {
    color: #fff !important;
}

.btn-outline:focus,
.btn-outline:active {
    box-shadow: 0 0 0 1px var(--medic-primary-blue);
    color: var(--medic-primary-blue);
}

header {
    width: 100%;
    padding: 0 2vw;
    justify-content: space-between;
}
header .buttons {
    width: 50%;
    text-align: end;
}

section.tabs button {
    padding: 14px 25px;
    outline: none;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: #adb5bd80;
    color: var(--text);
    -webkit-box-shadow: 5px 5px 0 0 #004b7d;
    -moz-box-shadow: 5px 5px 0 0 #004b7d;
    box-shadow: 5px 5px 0 0 #004b7d;
    transition: box-shadow 500ms;
}

section.tabs button:active{
    -webkit-box-shadow: 0 0 0 0 #004b7d;
    -moz-box-shadow: 0 0 0 0 #004b7d;
    box-shadow: 0 0 0 0 #004b7d;
}

section.tabs button:not(.btn-active) {
    display: none;
}

section.tabs button.btn-active {
    background-color: #ced4da35;
}

.logo-small {
    height: 40px;
    margin: 10px 0;
}

.logo img,
.logo-small img {
    height: 100%;
    object-fit: contain;
}

.heros{
    height: calc(90vh - 50px);
}

.container {
    width: 32em;
    margin: auto;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(209, 213, 219, 0.3);
    -webkit-box-shadow: 0 0 5px 0 #7a7a7a;
    -moz-box-shadow: 0 0 5px 0 #7a7a7a;
    box-shadow: 0 0 5px 0 #7a7a7a;
}

div.grid-layout {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 50%));
    grid-template-areas:
        "form slideshow";
    vertical-align: middle;
}

.container .slideshow {
    border-radius: 0 20px 20px 0;
    background-color: red;
    position: relative;
    grid-area: slideshow;
}

.slideshow .slider {
    width: 45%;
    height: 20px;
    background-color: green;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    justify-content: space-evenly;
}

.slider .slide {
    width: 30%;
    height: 2.5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
    transform-origin: right;
    transition: background-color 500ms ease;
}

section.slide.active {
    background-color: white;
}

div.container .form-container {
    padding: 0 15px;
    display: none;
}

#sign-up-page {
    grid-area: form;
}

section.form-container.page-active {
    display: block;
}

section.form-container.page-active:not(#sign-up-page)~section.slideshow {
    display: none;
}

a#google-login {
    height: 30px;
    text-decoration: none;
    border: 1px solid #000;
    justify-content: center;
    color: #000;
}

fieldset {
    border-top: 1.5px solid #343a40;
    border-left: none;
    border-bottom: none;
    border-right: none;
    margin: 10px 15px;
    padding: 0;
}

fieldset legend {
    text-align: center;
    text-transform: capitalize;
    padding: 0 20px;
}

.form-container form>div {
    position: relative;
    margin-bottom: 15px;
}

.form-container form>div:not(#sign-up-form .passwordField)::before {
    position: absolute;
    top: 33px;
    left: 8px;
}

.form-container form>div:where(.passwordField)::before {
    position: absolute;
    top: 33px;
    left: 8px;
}


input.typed-input {
    width: 100%;
    height: 35px;
    border: 1px solid var(--grey-light);
    border-radius: 5px;
    padding: 2px 30px;
    margin-top: 3px;
    font-size: 14.25px;
    font-family: "Poppins", sans-serif;
}

input.typed-input:focus {
    outline: none;
}

.nameField::before {
    content: url('https://api.iconify.design/majesticons/user-line.svg?color=%237b7b7b');
}

.emailField::before {
    content: url('https://api.iconify.design/ic/outline-mail.svg?color=%237b7b7b');
}

.passwordField::before {
    content: url('https://api.iconify.design/mdi/password-outline.svg?color=%237b7b7b');
}

div.error-bar.make-visible {
    display: inline-flex;
}

div.error-bar {
    display: none;
    align-items: center;
    padding-top: 2px;
    color: #c9184a;
}

div.error-bar span {
    margin-left: 3.5px;
}

div.password-info {
    padding: 5px 10px 0;
}

.icon-space {
    display: inline-block;
    aspect-ratio: 1/1;
    width: 15px;
    /* border: 1px solid #000; */
    border-radius: 50%;
}

.icon-space.invalid {
    background: url('https://api.iconify.design/ic/round-cancel.svg?color=%23c9184a') no-repeat center center / contain;
}

.icon-space.valid {
    background: url('https://api.iconify.design/mdi/tick-circle.svg?color=green') no-repeat center center / contain;
}

div.each-info {
    margin-bottom: 5px;
}

div.each-info>* {
    vertical-align: middle;
}

section.selectOne {
    justify-content: space-evenly;
    margin-top: 3px;
}

section.selectOne .single-field {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.single-field input[type="radio"] {
    margin: auto 5px auto 0;
    width: 20px;
    border: 1.5px solid #343a40;
    outline: 0;
    aspect-ratio: 1/1;
    border-radius: 3px;
    transition: 200ms ease;
    cursor: pointer;
}

.single-field input[type="radio"]:checked {
    accent-color: var(--medic-blue-1);
}

button[type="submit"] {
    width: 100%;
    height: 35px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
}
