@import url('./general-styles.css');

body{
    font-size: 20px;
    font-family: "Poppins";
}


header[data-belongs-to = "partials"] {
    width: 100%;
    padding: 0 2vw;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: #fff;
}

header .buttons {
    width: 50%;
    text-align: end;
}

button#follow{
    padding: 10px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
}
button#follow:hover{
    border-color: #000;
    background-color: transparent;
    color: #000;
}

.logo {
    height: 50px;
    margin: 15px 0;
}

.logo-small{
    height: 40px;
    margin: 10px 0;
}

.logo img,
.logo-small img{
    height: 100%;
    object-fit: contain;
}

div.main-container{
    background-color: var(--medic-grey);
}

main{
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    height: 700px;
    background-color: #fff;
    display: flow-root;
    padding: 0 15px;
}

main section{
    margin: 10px 0;
}

main section :is(h4, h2, cite){
    margin: 0;
    font-style: normal;
}

main section cite{
    font-size: clamp(0.85rem, 1.75vw + 0.3rem, 1rem);
}

main p{
    line-height: 32px;
}

#tag{
    text-transform: uppercase;
    font-size: clamp(0.85rem, 1.75vw + 0.3rem, 1rem);
};

#title{
    margin: 15px 0;
    font-size: clamp(1.25rem, 2vw + 0.5rem, 1.75rem);
}

.author-info{
    justify-content: space-between;
}

.author-info img{
    margin-right: 5px;
    height: 25px;
}

img#main-image{
    width: 100%;
    object-fit: cover;
}
