@import url("./general-styles.css");

header[data-belongs-to = "partials"] {
    width: 100%;
    padding: 0 2vw;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: #fff;
}

header .buttons {
    width: 50%;
    text-align: end;
}

footer {
    padding: 10px;
}

article h4,
article p {
    margin: 0;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.logo {
    height: 50px;
    margin: 15px 0;
}

.logo-small{
    height: 40px;
    margin: 10px 0;
}

.logo img,
.logo-small img{
    height: 100%;
    object-fit: contain;
}

button#follow{
    padding: 10px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
}
button#follow:hover{
    border-color: #000;
    background-color: transparent;
    color: #000;
}
.btn-partial {
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 200ms ease;
    font-size: 0.85rem;
}

.btn-partial-outline {
    border: 1px solid var(--medic-blue-1);
    color: var(--medic-blue-1);
}

.btn-partial-outline:hover {
    background-color: var(--medic-blue-1);
    color: #fff;
}

.mrg-10 {
    margin: 10px 0;
}
