<link rel="stylesheet" href="/css/partials.css">
<header class="flex" data-belongs-to = "partials">
    <div class="logo-small">
        <img src="/img/favicon.png" alt="company's logo">
    </div>
    <div class="buttons">
        <button id="follow" class="btn-partial">Follow Writer</button>
    </div>
</header>
