h1{
    font-size: 2em;
}
a{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: aliceblue;
    color: blueviolet;
    transition: 500ms ease;
}
a:hover{
    background-color: blueviolet;
    color: aliceblue;
}
a:focus, a:active{
    box-shadow: 0 0 3px blueviolet;
}
