<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="./responsive/dashboard-responsive.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/h7xwnxcc1yasz6b46k341lulxykp8ykbfz94id23a0m8vanv/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <title>Medictales | Dashboard</title>
</head>

<body>
    <header class="page-nav flex">
        <a class="logo-small" href="/">
            <img src="/img/favicon.png" alt="company's logo">
        </a>
        <div class="buttons flex">
            <button id="change-theme" class="header-button" data-tooltip="Theme">
                <iconify-icon icon="iconamoon:mode-light-light"></iconify-icon>
            </button>
            <button id="see-notifications" class="header-button" data-tooltip="Notifications" onclick="openNotifBox()">
                <iconify-icon icon="iconamoon:notification-light"></iconify-icon>
            </button>
            <button id="help" class="header-button" data-tooltip="Help">
                <iconify-icon icon="clarity:help-line"></iconify-icon>
            </button>
            <button id="open-menu" class="header-button">
                <iconify-icon icon="mdi:hamburger-menu"></iconify-icon>
            </button>
        </div>
    </header>

    <div id="open-notifications">
        <h2>Notifications</h2>
        <button type="button" id="close-notif-box" class="exit" data-close="open-notifications">&times;</button>
        <ul id="notifications">
            <li class="notif">James mentioned you</li>
            <li class="notif">Jesus is Lord</li>
            <li class="notif">the same yesterday, today and forever</li>
            <li class="notif">my help</li>
        </ul>
        <section class="actions">
            <button type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 20">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="m1.75 9.75l2.5 2.5m3.5-4l2.5-2.5m-4.5 4l2.5 2.5l6-6.5" />
                </svg>
                <span>Mark all as read</span>
            </button>
            <a href="">View all notifications</a>
        </section>
    </div>
    <div class="hero">
        <!-- Data-page in each tab links to the corresponding page via the id -->
        <div class="tabs-pane">
            <button type="button" class="tab tab-active" data-page="home">
                <iconify-icon icon="majesticons:home-line"></iconify-icon>
                <span>Home</span>
            </button>
            <button type="button" class="tab" data-page="write-post" id="write-post-tab">
                <iconify-icon icon="jam:write-f"></iconify-icon>
                <span> Write Post</span>
            </button>
            <button type="button" class="tab" data-page="to-do">
                <iconify-icon icon="mdi:to-do"></iconify-icon>
                <span>Goals / To-Do</span>
            </button>
            <button type="button" class="tab" data-page="messages">
                <iconify-icon icon="tabler:messages"></iconify-icon>
                <span>Messages</span>
            </button>
        </div>
        <div id="home" class="page page-active">

            <% if(typeof username !=='undefined' ) {%>
                <h1>Welcome <%= username %>
                </h1>
                <% } %>
                    <section id="writing-statistics" class="component">
                        <h2>Overview</h2>
                        <section class="writing-stat-container">
                            <section class="stat">
                                <h4>Total Number of Writeups</h4>
                                <p id="total-writeup-num">10</p>
                            </section>
                            <section class="stat">
                                <h4>Tags</h4>
                                <p id="tags-written">-</p>
                            </section>
                            <section class="stat">
                                <h4>------</h4>
                                <p id="-num">-</p>
                            </section>
                        </section>
                    </section>
                    <section id="todo-statistics" class="component">
                        <h2>Tasks yet to accomplish</h2>
                        <p id="todo-num">5</p>
                    </section>
        </div>
        <div id="write-post" class="page">
            <h1>Write Post
                <hr>
            </h1>
            <form action="/dashboard/write-post" method="post">
                <div class="title-field">
                    Title : <input type="text" name="title" placeholder="Enter your title here">
                </div>
                <br>
                <div class="tags-field flex">
                    <button type="button" class="flex" id="relative-btn" onclick="openTagDialog()">
                        <span>+</span>add new tag
                    </button>
                </div>
                <input type="text" id="tags" name="tags" style="display: none;">
                <br>
                <textarea name="blog_content" id="post-textarea" cols="30" rows="10"></textarea>
                <section class="post-action-buttons">
                    <button type="button">Save as Draft</button>

                    <button type="submit" id="upload-post">Upload</button>
                </section>
            </form>
            <!-- <script>
                tinymce.init({
                    selector: 'textarea#post-textarea',
                    height: '430px',
                    plugins: 'advlist link image lists table fullscreen',
                    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
                    // toolbar : 'code'
                });
            </script> -->
            <div id="tag-dialog">
                <h2 class="flex">Add Tags <button class="exit" data-close="tag-dialog" id="close-tag-dialog">&times;</button></h2>
                <form action="">
                    <label for="user_tag">You can separate multiple tags with a comma (,)</label>
                    <input type="text" id="user_tag" placeholder="Enter the tag or tags here">
                    <button type="button" class="dialog-submit-btn" onclick="addTag()">Continue ></button>
                </form>
            </div>
        </div>
        <div id="to-do" class="page">
            <h1>To-Do
                <hr>
            </h1>
            <section class="todo-buttons">
                <button type="button" onclick="openTaskDialog()">
                    <iconify-icon icon="ph:plus-bold"></iconify-icon>
                    New Task
                </button>
                <button type="button" onclick="openFilterDialog()">
                    <iconify-icon icon="mdi:filter-outline"></iconify-icon>
                    Filters
                </button>
            </section>
            <div id="task-dialog">
                <header>
                    <button type="button" class="exit pan-to-right" data-close="task-dialog">&times;</button>
                </header>
                <section class="main">
                    <h2 style="margin-top: 0; margin-bottom: 20px;">New Task</h2>
                    <input type="text" placeholder="What you intend to do..." id="write-task">

                    <label for="select_date">Due Date</label>
                    <input type="datetime-local" name="" id="select_date">
                </section>
                <footer>
                    <button type="button" onclick="addNewTask()" class="submit-ToDo dialog-submit-btn">Done</button>
                </footer>
            </div>
            <section id="filter-dialog">
                <div class="wrapper">
                    <div class="contains-bar">
                        <label for="contains">Contains</label>
                        <input type="text" id="contains">
                    </div>
                    <div class="date-bar">
                        <label for="date-field">Date</label>
                        <input type="date" id="date-field">
                    </div>
                    <button type="button" id="apply-filter" disabled>Filter</button>
                </div>
            </section>
            <section id="tasks-container"></section>
        </div>
        <div id="messages" class="page">
            <h1>Messages</h1>
        </div>
    </div>

    <footer class="flex">
        <a href="">Privacy & Cookies</a>
        <a href="">Terms of Use</a>
        <a href="/" class="logo-small">
            <img src="/img/medictales.png" alt="company's logo">
        </a>
        <a href="">Feedback</a>
        <a href="">About Medictales</a>
    </footer>

    <script src="js/dashboard.js"></script>
    <script src="js/components.js"></script>
</body>

</html>
