@media screen and (max-width: 800px){
    html,body{
      margin: 0;
      padding: 0;
      position: relative;
    }

    div.hero{
        display: block;
    }

    div.tabs-pane{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        top: calc(100dvh - 20px);
        transform: translateY(-50%);
        border-radius: 20px;
        margin-inline: auto;
    }
}
