@media screen and (max-width: 800px) {

    html,
    body {
        margin: 0;
        padding: 0;
        position: relative;
    }

    div.hero {
        display: block;
    }

    /* Writing Post Section */
    div#write-post textarea {
        width: 100%;
    }

    div.tabs-pane {
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        left: 50%;
        bottom: 2.5%;
        padding: 10px;
        transform: translate(-50%, 0);
        border-radius: 20px;
        border: none;
        -webkit-box-shadow: 0 0 4px -1.5px #333;
        -moz-box-shadow: 0 0 4px -1.5px #333;
        box-shadow: 0 0 4px -1.5px #333;
        z-index: 2;
        background-color: white;
    }

    button.tab {
        width: auto;
        padding: 10px 20px;
        margin: 0;
        color: gainsboro;
        border-radius: calc(20px - 10px);
        display: flex;
        justify-content: center;
        font-size: 20px;
        background-color: transparent;
    }

    button.tab span {
        display: none;
    }

    button.tab.tab-active {
        color: var(--medic-blue-1);
        background-color: #f0f0f0;
    }

    /* Tasks Section */
    section#tasks-container:empty::before {
        position: static;
        top: 50%;
        left: 0;
        z-index: 1;
        font-size: 1.5em;
        color: rgb(0, 0, 0, 0.65);
    }

    #task-dialog {
        max-width: 80%;
    }

    div#task-dialog section.main{
        padding: 0;
    }


    div#task-dialog section.main input, button.submit-ToDo{
        font-size: 1rem;
    }

    button.submit-ToDo{
        margin: 0 auto;
        width: 100%;
        transform: translate(0);
    }

    /* Writing Section */
    section.post-action-buttons{
        float: none;
       display: flex;
       justify-content: space-between;
    }
    
    /* Turn footer to nav bar in mobile version*/
    body > footer{
        display: none !important;
    }
}
