@media screen and (max-width : 470px) {
    html,body{
        margin: 0;
        padding: 0;
    }

    /* Navigation Bar */
    .nav-bar-container nav ul{
        justify-content: flex-end;
    }
    .nav-bar-container nav ul li{
        display: none;
    }

    /* Feautured Posts */
    div.featured-posts{
        grid-auto-columns: 46%;
    }

    /* Explore Section */
    #author>img {
        width: 15%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .buttons a {
        width: 30%;
        font-size: 110%;
    }
}
